@import "tailwindcss";

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#taskListId::-webkit-scrollbar {
  display: none;
}

#taskListId {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


